html, body {
    width: 100%;
    height: 100%;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

#svg-container {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.svg {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    border: solid 1px #CCC;
    box-shadow: 1px 1px 40px #CCC;
}

#title {
    max-width: 45%;
    font-size: 2rem;
    position: absolute;
    top: 30px;
    left: 40px;
}

#input-panel {
    max-width: 45%;
    font-size: 1rem;
    position: absolute;
    top: 30px;
    right: 30px;
}

#input {
    margin: 0;
    border: solid 1px #CCC;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
}

#banner {
    width: 322px;
    height: 52px;
    /*border: solid red 1px;*/
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@media only screen and (max-width: 600px) and (max-height: 600px) {
    #title,
    #input-panel {
        display: none;
    }
}

/*SVG*/
.svg-supp-line {
    fill: none;
    stroke: #666;
    stroke-width: 0.02px;
}

.svg-supp-text {
    font-size: 1px;
    font-family: monospace;
    fill: #666;
    alignment-baseline: middle;
}

.svg-line {
    fill: none;
    stroke: #333;
    stroke-width: 0.1px;
}

.svg-text {
    font-size: 1px;
    font-family: monospace;
    fill: #333;
    alignment-baseline: middle;
    text-anchor: middle;
}

.svg-path {
    stroke: #333;
    stroke-width: 0.05px;
    fill-opacity: 0.5;
}

/*Content*/
h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 2rem 0 1rem 0;
}

h3 {
    font-size: 1rem;
    line-height: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.samples-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sample {
    padding: 10px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px;
    width: 250px;
    text-align: center;
    border: solid 1px #DDD;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #EEE;
}

/*.sample img {*/
    /*width: 200px;*/
    /*height: 200px;*/
/*}*/