html, body {
    width: 100%;
    height: 100%;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
}

footer {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

#title {
    font-size: 2rem;
    line-height: 2rem;
    float: left;
}

#input-panel {
    font-size: 1rem;
    line-height: 1.5rem;
    float: right;
}

#info-panel {
    float: left;
    font-size: 1rem;
    line-height: 1.5rem;
}

#copy-panel {
    float: right;
    font-size: 1rem;
    line-height: 1.5rem;
}

#input {
    margin: 0;
    border: solid 1px #CCC;
    border-radius: 6px;
    padding: 5px;
    width: 50px;
}

#svg-container {
    width: 90%;
    height: 90%;
    position: relative;
    border: solid 1px #CCC;
    border-radius: 12px;
    box-shadow: 1px 1px 100px #CCC;
    background: url("logo.png") no-repeat center;
    background-size: contain;
}

.svg {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 12px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}