html, body {
    width: 100%;
    height: 100%;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

#title {
    position: absolute;
    font-size: 2rem;
    line-height: 2rem;
    top: 10px;
    left: 10px
}

#input-panel {
    position: absolute;
    font-size: 1rem;
    line-height: 1.5rem;
    top: 10px;
    right: 10px;
}

#copy-panel {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#input {
    margin: 0;
    border: solid 1px #CCC;
    border-radius: 6px;
    padding: 5px;
    width: 50px;
}

#svg-container {
    width: 90%;
    height: 90%;
    position: relative;
    border: solid 1px #CCC;
    border-radius: 12px;
    box-shadow: 1px 1px 100px #CCC;
}

.svg {
    width: 100%;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}